body {
    background-color: #F5A9A9;
    font-family: Verdana, Arial, sans-serif;
}

#board{
    height: 310px;
    width: 310px;
    margin: 50px auto;
}

#board div{
    background-color:beige;
    height: 90px;
    width:  90px;
    padding: 5px;
    font-size:80px;
    float: left;
    text-align: center;
}
#cell0, #cell1, #cell2, #cell3, #cell4, #cell5 {
    border-bottom: 5px solid darkslateblue;

}
#cell0, #cell3, #cell6, #cell1, #cell4, #cell7 {
    border-right: 5px solid darkslateblue; 
}

#btnContainer{
    height: 50px;
    width: 310px;
    margin: 10px auto;        
}

#hint{
    width: 100px;
    float: left;
}
#replay{
    width: 100px;
    float: right;
}

#message{
    height: fit-content;
    width: 310px;
    margin: 10px auto;
    background-color: peachpuff;
    text-align: center;
}    